

@media only screen and (max-width:768px) {
    $root-font-size: 10px;
    html {
        font-size: $root-font-size;
    }
    .resume-main {
        flex-direction: column-reverse;
    }

}

@media only screen and (min-width:769px) {
    $root-font-size: 10px;

    html {
        font-size: $root-font-size;
    }
    .resume-main {
        flex-direction: column-reverse;
     }
     .container {
        margin-bottom: 100px;
     }
}

@media only screen and (min-width:992px) {
    $root-font-size: 12px;

    html {
        font-size: $root-font-size;
    }
    .resume-main {
        flex-direction: row;
     }
}

.container {
    width: 100%;
    height: pxToRem(550px);
    overflow: hidden;
    @include flex-box-colum();

    .resume-header {
        flex: 1;
        position: fix;
    }

    .resume-main {
        width: 100%;
        flex: 8;
    }
}

.resume-header {
    @include flex-box-row();

    &-link>a {
        color: black;
        padding: pxToRem(20px);
        font-size: pxToRem(20px);
        font-weight: 700;
    }

}

.resume-main {
    display: flex;
    &-message {
        @include flex-box-colum();
        flex: 1;
        color: black;
        font-weight: 700;
        h5 {
            font-size: pxToRem(30px) ;
        }
        span {
            font-size: pxToRem(16px) ;
        }
    }

    &-footer {
        flex: 1;
        @include flex-box-colum();
    }
}

