@media only screen and (max-width:768px) {
    $root-font-size: 10px;

    html {
        font-size: $root-font-size;
    }

    .resume-main {
        flex-direction: column-reverse;
     }
     .container {
        margin-bottom: 100px;
     }

}

@media only screen and (min-width:769px) and (max-width:991px) {
    $root-font-size: 10px;

    html {
        font-size: $root-font-size;
    }

    .foot-container {
        height: pxToRem(1400px) !important;
    }
}
.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    .container {
    width: 100%;
    height: pxToRem(550px);
    overflow: hidden;
    @include flex-box-colum();
   .resume-main {
        width: 100%;
        flex: 1;
    }
}
}
.resume-main {
    display: flex;
    &-message {
        @include flex-box-colum();
        flex: 1;
        color: black;
        font-weight: 700;
        h5 {
            font-size: pxToRem(30px) ;
        }
        span {
            font-size: pxToRem(16px) ;
        }
    }

    &-footer {
        flex: 1;
        @include flex-box-colum();
    }
}