@media only screen and (max-width:768px) {
    $root-font-size: 10px;

    html {
        font-size: $root-font-size;
    }
    .card1Header ,
    .aboutMe-year
    {
        font-size: pxToRem(18px);
    }
    .card1Content {
        li {
            font-size: 14px !important;
        }
    }
    
}

@media only screen and (min-width:769px) and (max-width:991px) {
    $root-font-size: 10px;

    html {
        font-size: $root-font-size;
    }
}
.container {    
    background-color: red;
    .aboutMe {
        width: 100%;
        height: 100%;
    }

}

.aboutMe {
    display: flex;
    &-ul {
        @include flex-box-colum();
        height: 200%;
        width: 80%;
    }

    &-card {
        flex: 1;
        @include flex-box-colum();
        width: 80%;
        background-color: red;
        background: url(../../assets/wood.jpg) no-repeat;
        background-size: cover;
        background-color: rgba(255, 254, 255, 0.1);
        margin: 30px;
        border-radius: 15px;
        box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        border-top: 1px solid rgba(255, 254, 255, 0.5);
        border-left: 1px solid rgba(255, 254, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }
    &-title {
        flex: 1;
        text-align: center;
        font-weight: 700;
        font-size: pxToRem(40px);
    }
    &-year {
        flex: 1;
        text-align: center;
        font-size: pxToRem(20px);
        font-weight: 600;
    }
    &-content {
        flex: 4;
        padding-left:pxToRem(20px) ;
        li {
            list-style:disc;
            font-weight: 700;
            font-size: pxToRem(20px);
        }
    }

}